target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.gradle/
.kotlin/
out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### APPLICATION YML ###
src/main/resources/application.properties
src/main/resources/druid.properties
out/production/resources/application.properties
out/production/resources/druid.properties

gradle
log.log
chathistory.txt
local.gradle
http-client.private.env.json
LLMAPITOKEN
data/sql/info.json
data/redis/config.json

nodes.json
